// Main content adjustments

.main-content > .main-content-container.container-fluid {
  min-height: calc(100vh - #{$main-navbar-height + $main-footer-height});
  background-color:#ffffff !important;
  font-weight: 400;
}
